@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #FFD700;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
